<amex-page-component
  portalStyle="oms"
  portalTitle="Online Merchant Services"

  [tabs]="navItems"
  [activeTabId]="activeId"
  (tabClick)="onTabChanged($event)"

  [showSidebar]="false"

  (logout)="onLogout()">

  <div class="content">

    <oms-edit-profile-menu

      *ngIf="
        showSidebar &&
        !selectedSidebarMenu
      "

      [links]="sidebarItems"
      [activeId]="activeSidebarId"

      (linkClicked)="
        onMenuChanged($event)
      ">

    </oms-edit-profile-menu>

    <oms-merchant-panel

      *ngIf="
        selectedSidebarMenu ===
        'merchantaccount'
      "

      (backClicked)="
        onBackToProfileMenu()
      ">

    </oms-merchant-panel>

    <oms-merchant-data-form

      *ngIf="
        selectedSidebarMenu ===
        'editprofile'
      "

      (backClicked)="
        onBackToProfileMenu()
      ">

    </oms-merchant-data-form>

    <oms-contact-information
      *ngIf="
        selectedSidebarMenu ===
        'contactinformation'
      "
      (backClicked)="
        onBackToProfileMenu()
      ">
    </oms-contact-information>

    <oms-contact-information
      *ngIf="
        selectedSidebarMenu ===
        'marketinginformation'
      "

      sectionTitle="Marketing Information"

      (backClicked)="
        onBackToProfileMenu()
      ">
    </oms-contact-information>

    <oms-contact-information
      *ngIf="
        selectedSidebarMenu ===
        'financeinformation'
      "

      sectionTitle="Finance Information"

      (backClicked)="
        onBackToProfileMenu()
      ">
    </oms-contact-information>

    <oms-contact-information
      *ngIf="
        selectedSidebarMenu ===
        'operations'
      "

      sectionTitle="Operations"

      (backClicked)="
        onBackToProfileMenu()
      ">
    </oms-contact-information>

    <oms-report-format
        *ngIf="
            selectedSidebarMenu ===
            'reportformat'
        "
        (backClicked)="
            onBackToProfileMenu()
        ">
    </oms-report-format>

  <oms-vat-registration

    *ngIf="
        !showTaxInvoiceDelivery &&
        !showCaptureVatDetails &&
        !showUploadCertificate &&
        !showVatOutletLinking &&
        !showTaxInvoiceReport &&
        selectedSidebarMenu === 'vatregistration'
    "

    (taxInvoiceDeliveryClicked)="
        onTaxInvoiceDeliveryClicked()
    "

    (uploadCertificateClicked)="
        onUploadCertificateClicked()
    "

    (merchantRegistrationClicked)="
        onMerchantRegistrationClicked()
    "

    (downloadTaxInvoiceClicked)="
        onDownloadTaxInvoiceClicked()
    "

    (backClicked)="
        onBackToProfileMenu()
    ">

    </oms-vat-registration>

    <oms-tax-invoice-delivery

    *ngIf="
        showTaxInvoiceDelivery &&
        selectedSidebarMenu === 'vatregistration'
    "

    [sectionTitle]="'Tax Invoice Delivery'"

    (backClicked)="
        onBackToVatRegistration()
    ">

    </oms-tax-invoice-delivery>

    <oms-capture-vat-details

    *ngIf="
        showCaptureVatDetails &&
        selectedSidebarMenu === 'vatregistration'
    "

    (searchClicked)="
        onCaptureVatDetailsSearched()
    "

    (backClicked)="
        onBackToVatRegistrationFromCapture()
    ">

    </oms-capture-vat-details>

    <oms-upload-certificate

    *ngIf="
        showUploadCertificate &&
        selectedSidebarMenu === 'vatregistration'
    "
    (backClicked)="
        onBackToVatRegistrationFromUpload()
    ">
    </oms-upload-certificate>

    <oms-vat-outlet-linking

    *ngIf="
        showVatOutletLinking &&
        selectedSidebarMenu === 'vatregistration'
    "

    (searchClicked)="
        onVatOutletLinkingSearched()
    "

    (backClicked)="
        onBackToVatRegistrationFromOutletLinking()
    ">

    </oms-vat-outlet-linking>

    <oms-tax-invoice-report

    *ngIf="
        showTaxInvoiceReport
    "

    (backClicked)="
        onBackFromTaxInvoiceReport()
    ">

    </oms-tax-invoice-report>


</div>

<oms-terms-and-conditions

  *ngIf="showTermsConditions">

</oms-terms-and-conditions>

<oms-change-password

  *ngIf="showChangePassword">   
</oms-change-password>

<oms-customized-report

  *ngIf="showCustomizedReport">

</oms-customized-report>

<oms-settlement-submissions-table

  *ngIf="
    showSettlementSubmission
  ">

</oms-settlement-submissions-table>

<oms-sub-user-admin-table

  *ngIf="
    showSubUserAdmin &&
    !showCreateSubUser
  "

  [rows]="subUserRows"

  (createUserClicked)="
    onCreateSubUser()
  "

  (editUserClicked)="
    onEditSubUser($event)
  "

  (deleteUserClicked)="
    onDeleteSubUser($event)
  ">

</oms-sub-user-admin-table>

<oms-create-edit-user-form

  *ngIf="
    showCreateSubUser
  "

  [title]="'CREATE SUB USER'"

  [showMerchantAccess]="false"

  (saveClicked)="
    saveSubUser($event)
  ">

</oms-create-edit-user-form>

<oms-user-management-table

  *ngIf="
    showMrmUserAdmin &&
    !showCreateMrmUser
  "

  [title]="'MRM USER ADMINISTRATION'"

  [createLabel]="'Create MRM User'"

  [rows]="mrmUserRows"

  (createUserClicked)="
    onCreateMrmUser()
  "

  (editUserClicked)="
    onEditMrmUser($event)
  "

  (deleteUserClicked)="
    onDeleteMrmUser($event)
  ">

</oms-user-management-table>

<oms-create-edit-user-form

  *ngIf="
    showCreateMrmUser
  "

  [title]="'CREATE MRM USER'"

  [showMerchantAccess]="false"

  (saveClicked)="
    saveMrmUser($event)
  ">

</oms-create-edit-user-form>

<oms-user-management-table

  *ngIf="
    showOmsUsers &&
    !showCreateOmsUser
  "

  [title]="'OMS USER ADMINISTRATION'"

  [createLabel]="'Create OMS User'"

  [showMerchantNumber]="true"

  [rows]="omsUserRows"

  (createUserClicked)="
    onCreateOmsUser()
  "
  (editUserClicked)="
    onEditOmsUser($event)
  "
  (deleteUserClicked)="
    onDeleteOmsUser($event)
  ">

</oms-user-management-table>

<oms-create-edit-user-form

  *ngIf="
    showCreateOmsUser
  "

  [title]="'CREATE OMS USER'"

  (saveClicked)="
    saveOmsUser($event)
  ">

</oms-create-edit-user-form>

<div

  *ngIf="showEditUserPopup"

  class="popup-overlay">

  <div class="popup-content">

  <ui-icon-button

      icon="✕"

      ariaLabel="Close"

      variant="ghost"

      size="sm"

      (clicked)="closeEditPopup()">

    </ui-icon-button>

    <oms-edit-user-form

  *ngIf="
    editFormRender &&
    selectedEditUser
  "

  [attr.data-version]="
    editFormVersion
  "

  [title]="editPopupTitle"

  [showRole]="false"

  [data]="selectedEditUser"

  (updateUserClicked)="

    editPopupTitle ===
    'EDIT OMS USER'

      ? onUpdateOmsUser($event)

      : editPopupTitle ===
        'EDIT MRM USER'

          ? onUpdateMrmUser($event)

          : onUpdateSubUser($event)
  ">

</oms-edit-user-form>

  </div>

</div>

<oms-new-outlet-portal

  *ngIf="
    showNewOutletPortal &&
    !showNewOutletApplicationForm
  "

  (createApplicationClicked)="
    onCreateNewApplication()
  ">

</oms-new-outlet-portal>

<oms-new-outlet-application-form

  *ngIf="
    showNewOutletApplicationForm
  "

  (backClicked)="
    onBackToNewOutletPortal()
  ">

</oms-new-outlet-application-form>

</amex-page-component>